<div>
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"></div>
		</div>
	</div>
	<div class="container page-container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body">
					<h2>property</h2>
					<hr class="star-primary">

					<h3>
						soul
						:
						{{account?.soul}}
					</h3>

					<p>
						species
						:
						{{account?.species?.name}}
					</p>
					<p>
						level
						:{{account?.level}}
					</p>
					<p>
						exp
						:{{account?.exp}}
					</p>

					<div class="progress property-prograss">
						<div class="process-font"> <i class="fa fa-heart"></i>
							{{account?.hp}}/{{account?.addHp+account?.species?.baseHp}}
						</div>
						<div class="progress-bar progress-bar-danger" role="progressbar"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: {{account?.hp*100/(account?.species?.baseHp+account?.addHp)}}%;"></div>
					</div>

					<div class="progress property-prograss">
						<div class="process-font"> <i class="fa fa-bed"></i>
							{{account?.vigor}}/100
						</div>
						<div class="progress-bar progress-bar-success" role="progressbar"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: ${vigorPercent}%;"></div>
					</div>

					<div class="progress property-prograss">
						<div class="process-font">
							<i class="fa fa-cutlery"></i>
							{{account?.satiety}}/100
						</div>
						<div class="progress-bar progress-bar-warning" role="progressbar"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: ${satietyPercent}%;"></div>
					</div>

					<table class="table table-striped property-table">
						<tbody>
							<tr prop="power">
								<td>power</td>
								<td>
									{{account?.basePow}}(
									<addp>+{{account?.addPow}}</addp>
									)
								</td>
							</tr>
							<tr prop="def">
								<td>def</td>
								<td>
									{{account?.baseDef}}(
									<addp>+{{account?.addDef}}</addp>
									)
								</td>
							</tr>
							<tr prop="dex">
								<td>dex</td>
								<td>
									{{account?.baseDex}}(
									<addp>+{{account?.addDex}}</addp>
									)
								</td>
							</tr>
							<tr prop="inte">
								<td>inte</td>
								<td>
									{{account?.baseInt}}(
									<addp>+{{account?.addInt}}</addp>
									)
								</td>
							</tr>
							<tr prop="hp">
								<td>hp</td>
								<td>
									{{account?.baseHp}}(
									<addp>+{{account?.addHp}}</addp>
									)
								</td>
							</tr>
						</tbody>
					</table>

					<button type="button" class="btn btn-primary" *ngIf="account?.remainTime>
						(24 * 60 * 60 * 1000)">
						<i class="fa fa-edit"></i>
						changeproperty
					</button>
					<p *ngIf="account?.remainTime<=(24 * 60 * 60 * 1000)">cannotchangefromtime</p>
				</div>
			</div>
		</div>
	</div>
</div>