<div class="portfolio-modal">
	<div class="close-modal" data-dismiss="modal" (click)="toProfile()">
		<div class="lr">
			<div class="rl"></div>
		</div>
	</div>
	<div class="container page-container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body">
					<h2>
						{{ "region" | translate }}
					</h2>
					<hr class="star-primary">
					<div *ngIf="infoShow">
						<h5>{{ "region_info" | translate }}</h5>
					</div>
					<div id="treeview5" class="" style="text-align:left;"></div>				
				</div>
			</div>
		</div>
	</div>
</div>